.p{
    color: orange;
    text-align: center;
    border: 2px solid orange;
    text-transform: uppercase;
}
.btn:hover{
    background-color: orange;
    color: lightslategrey;
    transition: all 0.5s;
}
.btn{
    width: 120px;
    height: 40px;
    background-color: yellowgreen;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}
.img1{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    /* width: 100%; */
    margin: 0 auto;
    border: 2px solid rgb(255, 0, 140);
    /* margin-left: 50px; */
}
.back{
    width: 50%;
    height: 500px;
    background-image: url(./reference-img-worlds-of-adventure-park-4-1920x9999.webp);
}