button{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: rgb(17, 34, 224);
    color: white;
    border-color: yellow;
    font-size: 18px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1{
    font-size: 25px;
    color: crimson;
}
